a {
    text-decoration: none !important;
    color: #313131 !important;
    outline: none!important;
}
button {
    outline: none !important;
}
body {
    font-family:IRANSans-web !important;
    background: #fcfdff;
}
.p0 {
    padding: 0!important;
}
/* -- header --*/
.header{
    height: auto;
    background-color: #eaeaea;
}
.logo{
    height: auto;
    float: left;
}
.logo img{
    height: 100px;
}
.menu-top{
    float: right;
    font-size: 10px;
    height: auto;
    margin-top: 25px;
    line-height: 3;
}
.menu-top ul li{
    float: right;
    height: auto;
    list-style: none;
    border-left: #d6d3d3 1px solid;
}
.menu-top ul li:last-child{
    border: none;
}
.top-menu-list{
    text-align: center;
    font-size: 10px;
    color: #5c6672;
    height: auto;
}
.top-menu-list:hover{
    color: #fd5252;
    transition: all 0.1s ease;
}
.menu-top i{
    font-size:20px;
}

/* ---------------------- menu --*/

.menu{
    margin-top: 5px;
    margin-bottom: 5px;
}
.empty-1{
    float: right;
}
.search{
    float: right;
    background: transparent;
}
.input{
    float: right;
    border-radius:0 10px 10px 0;
    border: #E0E0E0 1px solid;
    text-align: right;
    height: 35px;
    outline: none;
    padding: 0 10px !important;
    border-left: none;
}
.button{
    float: left;
    border-radius: 10px 0 0 10px;
    outline:none;
    text-shadow: none;
    border: none;
    color: #ffffff;
    background: #fd5252;
    padding-top:5px;
    height: 35px;
}
.button i{
    font-size: 17px;
}
.button:hover{
    color: #fd5252;
    background: #e8e8e8;
    transition: all 0.4s ease;
}
.main-menu{
    float: left;
    height: auto;
}
.main-menu ul{
    margin: 0;
}
.main-menu ul li{
    list-style: none;
    float: left;
    text-align: center;
    border-left: 1px #d6d3d3 solid;
    font-size: 11px;
}
.main-menu-inner{
    padding: 10px 0 !important;
}
.main-menu ul li:first-child{
    border-left: none;
}
.main-menu-inner:hover{
    color: #fff;
    background-color: #fd5252;
    transition: all 0.4s ease;
}
/* --------------------------- slider -------------------------------------*/

.row-NewP {
	height: auto;
    margin-top: 2px;
    float: left;
}
.New-1 {
    float:left;
    height:100%;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}
.slider-caption{
    height:100%;
    width: 100%;
    position:absolute;
    overflow:hidden;
    top:-10%;
    left:0;
    color: #000000 !important;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.1s ease-out 0.3s;
    transition: all 0.1s ease-out 0.3s;
}
.New-1:hover .slider-caption{
    opacity: 1;
    filter: alpha(opacity=100);
    top: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.New-1 img {
    display: block;
    position: relative;
}
.s-c-1{
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 14px;
    top: 5%;
    padding:10px 5px !important;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.1ms ease-in-out 0.9ms;
    transition: all 0.1ms ease-in-out 0.9ms;
    -webkit-transition-delay: 0.1ms;
    transition-delay: 0.1ms;
}
.New-1:hover .s-c-1 {
    border-bottom:1px solid #FFFFFF;
    border-top:1px solid #FFFFFF;
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.s-c-2{
    height: auto;
    font-family:Serif;
    padding: 5px !important;
    top:5%;
    border-radius: 0 0 5px 5px;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.1s ease-in-out 0.9s;
    transition: all 0.1s ease-in-out 0.9s;
}
.New-1:hover .s-c-2{
    border:1px solid #FFFFFF;
    border-top: none;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.s-c-2-1 {
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    color: #ffffff;
    float: left;
    border-right: 1px solid;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.s-c-2-2{
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: all ease-in-out 0.2s;
    transition: all ease-in-out 0.2s;
}
.New-1:hover .s-c-2-1 {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.New-1:hover .s-c-2-2 {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.Lib-Top {
  height: auto;
	float: right;
	padding: 1px 10px!important;
	color: #000;
	border: none;
  font-size: 14px;
  text-align: right;
	line-height: 30px;
}
.Lib-Top i {
	padding-left: 10px;
	line-height: 20px;
}
.News-All{
    background-color: #fd5252;
    color: #fff;
    text-align: center;
    direction: ltr;
    font-weight: bold;
    font-size: 12px;
    padding: 8px !important;
    border-top-right-radius: 10px;
    margin: 0!important;
}
#PRV, #NTX {
  height: 32px;
  outline: none;
  border-top-left-radius: 10px;
  float: left;
  background-color: #fd5252;
  color: #fff;
  text-align: center;
  padding: 7px 0!important;
  line-height: 14px;
  font-size: 18px;
  margin-bottom: 0!important;
  border-style: none;
}
#PRV:hover, #NTX:hover  {
  color: #fd5252;
  background-color: #f3f3f3;
  transition: all 0.4s ease;
}
#NTX {
  float: left;
  border-top-right-radius: 10px;
  border-top-left-radius: 0;
}
.slider-menu {
    float: right;
    height: auto;
    padding: 0!important;
    margin: 4px 0!important;
}
.slider-menu ul {
    list-style: none;
    height: auto;
    margin: 0;
}
.slider-menu ul li {
    text-align: center;
    font-size: 11px;
    float: right;
    color: #000;
    border-right: #e1e1e1 1px solid !important;
    border-top: #e1e1e1 1px solid;
    border-bottom: #e1e1e1 1px solid;
}
.slider-menu-in{
    padding: 10px 0;
}
.slider-menu-in:hover {
    background-color: #fd5252;
    color: #fff;
    transition: all 0.5s ease;
}
.Head-Top {
	height: auto;
	float: left;
    background-color: #F3F2F2;
    border-top-left-radius: 10px;
	border-bottom: 9px solid #fd5252;
}


/* --------------------------- End slider ---------------------------------*/



/* --------------------------- News -------------------------------------*/

.L-News {
  height: auto;
  list-style: none;
  margin-top: 3px;
	overflow: hidden;
  background-color: #efefef;
  padding: 6px!important;
}
.L-News:hover {
	background-color: #E1E1E1;
}
.L-News a {
    text-decoration: none;
}
.New-Con h2 {
  margin: 0 5px -5px 5px!important;
	font-size: 16px!important;
	padding-bottom: 10px!important;
}
.New-Con {
  float: left;
	position: relative;
  font-size: 12px;
  color: #fff;
  text-overflow: ellipsis;
  direction: rtl;
  line-height: 17px;overflow: hidden;
}
.News-P h4{
  color: #4B4B4B;
  margin: 0;
  font-size: 15px;
  line-height: 18px;
  transition: all .2s ease-in-out;
	padding: 3px 5px 3px 5px!important;
}
.News-P span {
  display: block;
  color: #117ab7;
  font-size: 10px;
	padding: 4px 5px 3px 5px!important;
}
.News-P p {
  height: 35px;
	padding: 2px 6px 3px 15px!important;
  margin: 0!important;
  overflow: hidden;
  color: #000;
  font-size: 11px;
}
.News-00 {
	height: auto;
	margin-top: 3px;
	background-color: #fff;
	border-right: 2px solid #fd5252;
}
.News-00:hover {
	background-color: #e8e8e8;

}
.News-01{
	height: auto;
	color: #000;
  font-size: 12px;
	padding-right: 12px!important;
	position: relative;
	float: right;
  direction: rtl;
	line-height: 35px;
}
.News-01 small {
	float: left;
	color: #117ab7;
	padding-left: 7px!important;
	position: relative;
  direction: rtl;
	line-height: 35px;
}
.News-img {
	float: right!important;
	position: absolute;
	padding-left: 5px!important;
}
.New-img img {
	height: 100%;
	margin: auto 0;
}
.News {
	margin-top:3px!important;
	height: auto;
}.News-0 {
	float: right;
	margin-top: 1px;
	height: auto;
}
/*---------------End News ----------------------------*/

.column-left {
    float: left;
    height: auto;
}
.column-right {
    height: auto;
    float: right;
    border-left: 1px solid white !important;
}
.btn-blocks {
    height: 80px;
    border: 1px solid #eaeaea;
    text-align: right;
    direction: rtl;
    background: #fff;
    transition: all 0.5s ease;
}
.icon-request-movie{
    margin-top: 28px;
    font-size: 30px;
    margin-left: 3px;
    float: left;
    color: #fd5252;
}
.btn-blocks:hover {
    background: #fd5252;
    color: #fff;
}
.btn-blocks:hover .icon-request-movie {
    color: #fff;
}
.btn-blocks-request{
    margin-top:16px;
    font-weight: bold;
    font-size: 16px;
}
.btn-blocks-see{
    font-size: 12px;
}
.address-site {
    direction:rtl;
    line-height: 15px;
    padding: 5px 20px !important;
    background: #7A54D8;
    color: #fff;
    font-size: 10px;
}
.address-finder-second{
}
.address-finder-R{
    text-align: right;
    float: right;
    padding:5px !important;
}
.address-finder-L{
    float: left;
    padding:5px !important;
    text-align: left;
}
/* ------------ side-pane----------------------*/
.side-panel{
    float: right;
    height: auto;
    font-size: 12px;
    background: #f9f9f6;
    margin-top: 3px;
    direction: rtl;
}
.side-panel li{
    list-style: none;
}
.side-tittle-1{
    float: left;
    margin-top: 3px;
    font-weight: bold;
    background: #c5c5c2;
}
.side-tittle-1 span{
    line-height: 24px;
}
.side-tittle-1 i{
    float: right;
    padding:5px 7px !important;
    font-size: 18px;
}
.side-tittle-2{
    float: left;
    margin-top: 3px;
    padding: 0 3px !important;
    background: #d0d0cd;
}
.side-tittle-2 span{
    line-height: 28px;
}
.side-tittle-2 i {
    font-size: 15px;
}
.side-tittle-2-a-i{
    float: right;
    padding: 6px 5px !important;
}
.side-tittle-2-c-i{
    float: left;
    padding: 6px 5px !important;
}
.side-tittle-collapse{
    cursor: pointer;
    float: left;
    margin-top: 5px;
    font-weight: bold;
    background: #d0d0cd;
}
.side-tittle-collapse a{
    padding: 5px !important;
}
.side-tittle-collapse span{
    font-size: 12px;
    line-height: 2;
}
.side-panel-movie, .side-panel-series {
    float: left;
    display: block;
    padding-top: 3px!important;
    background: #eeeeeb;
}
.side-panel-movie li, .side-panel-series li {
    float: right;
    direction: ltr;
    background: #FFFFFF;
    margin: 2px 0;
}
.movie-genre{
    border-left: 2px solid #eeeeeb;
    padding: 5px 0 !important;
}
.movie-genre i{
    float: right;
    padding: 3px !important;
}
.side-panel-movie a:hover {
    color: #FFFFFF !important;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.side-panel-series a:hover {
    color: #FFFFFF !important;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
/* --------------------------- week series -------------------------------------*/
.table-movie-w {
    height: auto;
    direction: rtl;
    background: #EBEBE8 !important;
}
.table-tittle {
    height: auto;
    background: #e0e0e0;
    text-align: right;
    font-size: 13px;
    color: #000;
}
.table-tittle-text {
    line-height: 36px;
    float: left;
}
.table-tittle-i{
    line-height:36px;
    padding: 5px 5px 0 5px !important;
    font-size: 25px;
    float: right;
    text-align: center;
}
.list-table {
    margin: 0!important;
    height: auto;
}
.list-table ul li{
    list-style: none;
    margin-bottom: 1px;
}
.w-btn-see{
    text-align: center !important;
    background: #4ba4d8 !important;
    border: none;
    margin: auto;
    padding:10px 20px !important;
    color: white !important;
}
.w-btn-see:hover{
    background: #EBEBE8 !important;
    color: #fd5252 !important;
    transition: all 0.5s ease;
}
.li-blk-list{
    padding:10px 20px !important;
    text-align: right;
    background: #EBEBE8;
    border: none;
    border-bottom: #fff 1px solid;
}
.li-today {
    height: auto;
    margin: 0!important;
    background-color: #efefef;
}
.li-today ul li {
    text-align: center;
    float: right;
}
.today-li-inner-tittle{
    padding: 5px 0 !important;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #a7a7a7;
}
.today-li-tittle ul li {
}
.today-li ul {
    list-style: none;
}
.today-li ul li {
    float: right;
    margin-top: 1px;
    font-size: 10px;
    padding-top: 20px!important;
    align-items: center;
}
.today-li-inner i {
    font-size: 20px!important;
    color: #c0b017;
}
.today-li-inner img {
    text-align: center;
    min-width: 100%;
    height: 57px;
    -webkit-filter: grayscale(100%);
    filter: gray(100%);
}
.today-li-inner img:hover {
    -webkit-filter: grayscale(0%);
    filter: gray(0%);
}

/* --------------------------- End week series ---------------------------------*/
/* ------------ Post -------------------*/
.column-post {
  float: left;
}
.post-tittle {
  background-color: #F3F2F2;
  border-bottom: 4px solid #fd5252;
}
.tittle-post {
  direction: rtl;
  float: right;
  padding: 10px 20px!important;
}
.tittle-post i {
    padding-left: 10px;
    line-height: 20px;
}
.Blank-Div {
    float: right;
}
.post-num {
  background-color: #fd5252;
  color: #fff;
  text-align: center;
  direction: ltr;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif!important;
  font-size: 19px;
  padding: 8px !important;
  border-top-right-radius: 10px;
  margin: 0!important;
}
.post-ditails {
  background-color: #fff;
}
.post-img {
  position: relative;
  margin: 0 auto!important;
  float: right;
}
.post-img img {
  float: right;
  display: block;
}
.post-d {
  background-color: #45ff45;
}
.post-dul ul{
  list-style: none;
}
.post-d ul li {
  text-align: right;
  list-style: none;
  margin-top: 3px;
  font-size: 10px;
  padding: 5px 15px!important;
}
.post-story {
  background-color: #fafafa;
  direction: rtl;
  padding: 10px!important;
  border: #eee 1px solid;
  font-size: 13px;
  line-height: 24px;
}
.Post-Ditailed {
	height: auto;
	background-color: #fff;
	border-right: 2px solid #eee;
	border-bottom: 1px solid #EEE;
  font-size: 11px;
	float: right;
	padding: 5px 5px 5px 0!important;
  color: #000;
	text-align: right;
  direction: rtl;
  line-height: 24px;
}
.Post-Ditailed img {
  width: 50px;
  padding: 0!important;
  height: 15px;
}
.Post-Ditailed i {
	padding-left: 5px;
}
.button-post {
  text-align: center;
  float: right;
  color: #fff!important;
  background-color: #4ba4d8;
  font-size: 13px;
  height: 40px;
  padding-top: 10px;
  transition: all 0.5s ease;
  border-left: #4a93d2 1px solid;
}
.button-post:hover {
  color: #fd5252!important;
  background-color: #f3f3f3;
}
.awards-post {
  height: auto;
  float: left;
  background-color: #f3f3f3;
  padding: 5px 15px!important;
  border: #eee 1px solid;
}
.awards-post img {
  height: 25px;
  width: 25px;
  float: right;
}
.awards-post p {
  direction: rtl;
  float: right;
  padding: 5px 15px!important;
  margin: 0!important;
}
/* -------- End Post ---------*/
/* --------------------------- Singel Post ---------------------------------*/
.link-dl {
    border: #e1e1e1 1px solid;
    margin-top: 10px;
}
.link-tittle {
    background-color: #dcdcdc;
    direction: rtl;
    float: right;
    padding: 10px 20px!important;
    font-size: 15px;
}
.link-tittle  i{
    font-size: 15px;
    padding-left: 10px;
    line-height: 20px;
}
.link-dl ul {
    list-style: none;
    margin: 0;
}
.link-dl ul li {
    float: right;
    direction: rtl;
    text-align: center;
    list-style: none;
    font-size: 12px;
    border-left: #e8e8e8 1px solid;
    border-bottom: #e8e8e8 1px solid;
    padding: 5px 0!important;
}
.dl-link {
  border-top: #e2e2e2 3px solid;
  float: right;
}
.dl-info {
  margin-top: 5px!important;
  float: right;
  direction: rtl;
  text-align: center;
  font-size: 10px;
  padding: 5px 0!important;
}
.last-suggest {
  background-color: #e0e0e0;
  padding: 4px 5px!important;
}
.suggest-movie {
  margin-top: 5px;
}
.suggest-tittle {
    float: right;
    background: #f3f2f2;
    padding: 5px 10px!important;
    direction: rtl;
    font-size: 13px;
    margin: 0 auto!important;
    border-radius: 3px!important;
}
.suggest-tittle  i{
    font-size: 11px;
    padding-left: 10px;
    line-height: 20px;
}
.suggest-list {
    float: right;
    height: auto;
    margin-top: 4px!important;
}
.suggest-list ul {
  list-style: none;
}
.suggest-m {
    float: left;
    position: relative;
}
.suggest-m:hover img {
  opacity: 0.5;
}
.name-sug {
  height: 50px;
  display: none;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  opacity: 0.7;
  color: #fff;
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  font-weight: bold;
  background-color: #4c4c4c;
}
.suggest-m:hover .name-sug {
    display: block;
}
.link-btn {
  float: right;
}
.download, .download-link, .download-2, .sub-link, .download-05 {
  text-align: center;
  float: left;
  color: #fff!important;
  background-color: #679cd3;
  font-size: 15px;
  height: 39px;
  padding-top: 10px!important;
  transition: all 0.5s ease;
}
.download, .download-05 {
  float: right;
}
.download-link {
  height: 70px;
  padding-top: 25px!important;
}
.download-link i {
  padding-left: 5px;
  padding-top: 23px!important;
}
.sub-link {
  height: 35px;
  margin-top: 10px;
  background-color: #fd5252;
  font-size: 11px;
}
.download-2  {
  color: #fd5252!important;
  background-color: #fff;
}
.download-2 i {
    font-size: 20px;
    line-height: 16px;
}
.episod {
  margin-bottom: 2px; 
}
/* ------------------ comments----*/
.comments{
    height: auto;
}
.comments-tittle{
    background: #e0e0e0;
    font-size: 16px;
    font-weight: bold;
    direction: rtl;
    padding: 10px !important;
}
.comments-tittle-text{
    float: right;
}
.comments-tittle-icon{
    float: left;
}
.comments-bar{
    padding: 5px !important;
    border-bottom: 1px solid #e0e0e0;
    direction: rtl;
}
.comments-bar-R{
    float: right;
    cursor: default;
}
.comments-bar-R div{
    float: right;
    padding-left: 5px !important;
}
.comments-bar-R i{
    float: right;
    padding-left: 5px !important;
}
.comments-bar-L a{
    float: left;
}
.comments-bar-L-last-img{
    height: 30px;
    width: 50px;
    float: right;
    padding: 0 3px !important;
}
.comments-form-R{
    float: right;
    border-left: 1px solid #e0e0e0;
}
.comments-form-img{
    border: none;
    max-width: 160px;
    padding: 5px !important;
}
.comments-form-img img{
    border-radius: 5px;
}
.comments-form-username-rate{
    padding: 5px !important;
    margin: 10px;
    color: #FFFFFF;
    background: #fd5252;
    border: none;
    text-align: center;
    cursor: default;
}
.comments-form-username-id{
    padding: 5px !important;
    margin: 10px;
    text-align: center;
    font-weight: bold;
}
.comments-form-L{
    direction: rtl;
    padding: 10px !important;
}
.comments-footer{
    border-top: 1px solid #e0e0e0;
    direction: rtl;
}
.comments-footer-like{
    float: right;
    padding: 5px 20px !important;
}
.comments-footer-date {
    float: left;
    padding: 5px 20px !important;
}

.comments-footer-date i{
    float: right;
}
.comments-footer-answer{
    float: left;
    padding: 5px 20px !important;
}
/* ---------- End Singel Post ------------*/
/* ------------------ footer----*/
.footer{
    height: auto;
    margin-top: 3px;
    padding: 5px 0 !important;
    background-color: #eaeaea;
}
.dubbing{
    border-bottom: #bbb 1px solid;
}
.right-footer{
    float: right;
    padding-left: 3px !important;
}
.left-footer{
    float: left;
    padding-right: 3px!important;
}
.footer-tittle{
    border-bottom: 4px solid #fd5252;
    background: #f3f2f2;
}
.footer-tittle i{
    padding:5px 3px !important;
}
.footer-tittle-R, .footer-tittle-L{
    padding: 6px!important;
    direction: rtl;
    font-size: 13px;
    margin-bottom: 3px;
}
.footer-tittle-R{
    float: right;
}
.footer-tittle-L{
    float: left;
    margin: 0;
    padding:8px !important;
    background-color: #fd5252;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    border-top-right-radius: 10px;
}
.last-dubbing{
    float: right;
    padding: 8px 0!important;
}
.footer-last-dubbing{
    margin-left: 2px !important;
    min-width: 100%;
}
.footer-caption{
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 11px;
    top: 5%;
    border-bottom:1px solid #FFFFFF;
    border-top:1px solid #FFFFFF;
    padding:10px 5px !important;
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(-200px);
    -ms-transform: translateY(-200px);
    transform: translateY(-200px);
    -webkit-transition: all 0.1s ease-in-out 0.9s;
    transition: all 0.1s ease-in-out 0.9s;
}
.New-1:hover .footer-caption{
    background: rgba(0, 0, 0, 0.6);
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.down-footer{
    padding: 5px 0 !important;
}
.following {
  float: left;
  font-size: 16px;
}
.social-network {
  float: left;
    padding: 0 5px !important;
  text-align: center;
}
.licence {
    font-size: 10px;
    float: right;
    line-height: 2;
    text-align: right;
    font-weight: bold;
}
.licence span {
  float: left;
}
/* Extra small devices (phones, 600px and down) */
@media (min-width: 600px) {
   .post-img img {
        width: 200px;
    }
}
@media (max-width: 535px) {
    #h-xs1, #h-xs2{
        display: none!important;
    }
    #last-dubbing1, #last-dubbing2, #last-dubbing3, #last-dubbing4, #last-dubbing5, #last-dubbing6 {
        width: 33% !important;
    }
}
@media (max-width: 600px) {
   .tittle-post  {
        font-size: 12px;
    }
    .footer-last-dubbing img{
        min-width: 80px !important;
    }
}
/* sm */
@media (min-width: 768px) {
   .post-img img {
        width: 200px;
    }
}
@media (max-width: 768px) {
   .post-img img {
        width: 200px;
    }
    .logo img{
        margin: auto;
    }
    .licence{
        text-align: center;
        border-top: #bbb 1px solid;
    }
}
/* md */
@media (min-width: 992px) {
    .post-img img {
        width: 200px;
    }
    .side-panel-movie{
        display: block !important;
    }
    .side-movie{
        display: block !important;
    }
    #side-collapse-series-genre{
        display: block;
    }
    #side-collapse-series-yer{
        display: block;
    }
    #side-collapse-series-best{
        display: block;
    }
    #side-collapse-series-collection{
        display: block;
    }
    #side-collapse-movie{
        display: block;
    }
    #side-collapse-series{
        display: block;
    }
}
@media (max-width: 992px) {
    .search{
        margin-bottom: 5px;
    }
    .slider-menu-br {
    border-left: #e1e1e1 1px solid!important;
    }
    .side-panel-movie{
        display: none;
    }
    .s-c-1, .s-c-2-1, .s-c-2-2 {
        font-size: 12px !important;
    }
}
/* lg */
@media (min-width: 1200px) {
    .post-img img {
        width: 250px;
    }
}

